

.Banner{
    background-image: linear-gradient(rgba(5,7,12, 0.70),rgba(5,7,12, 0.70)),  url(./img/wallpaperflare.com_wallpaper.jpg);
    width: 100%;
    height: 50vh;
    background-position: center;

}



.Banner-content  {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.Texto{
    color: rgb(230, 230, 226);
    padding: 60px;
    font-size: 30px;
    font-family: "DM Serif Text", serif;

    
}


.btn1{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  text-decoration: none;
  color: azure;
}