
.Footer{
    background-color: #22598e;
    width: 100%;
    height: 15vh;
    
}
.content-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.content-footer p{
    padding: 0 10px;
    color: aliceblue;
}

.copy{
    text-align: center;
    color: aliceblue;
}