

.Slider{
    background-image: linear-gradient(rgba(5,7,12, 0.70),rgba(5,7,12, 0.70)),  url(./img/SliderBanner.jfif);
    width: 100%;
    height: 49vh;
    background-position: center;
    
    

}

.Texto{
    font-size: 15px;
}